---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

import image01 from '../assets/images/gallery-images/image-01.webp';
import image02 from '../assets/images/gallery-images/image-02.webp';
import image03 from '../assets/images/gallery-images/image-03.webp';
import image04 from '../assets/images/gallery-images/image-04.webp';
import image05 from '../assets/images/gallery-images/image-05.webp';
import image06 from '../assets/images/gallery-images/image-06.webp';
import image07 from '../assets/images/gallery-images/image-07.webp';
import image08 from '../assets/images/gallery-images/image-08.webp';
import image09 from '../assets/images/gallery-images/image-09.webp';
import image10 from '../assets/images/gallery-images/image-10.webp';
import image11 from '../assets/images/gallery-images/image-11.webp';
import image12 from '../assets/images/gallery-images/image-12.webp';
import image13 from '../assets/images/gallery-images/image-13.webp';
import image14 from '../assets/images/gallery-images/image-14.webp';
import image15 from '../assets/images/gallery-images/image-15.webp';
import image16 from '../assets/images/gallery-images/image-16.webp';
import image17 from '../assets/images/gallery-images/image-17.webp';
import image18 from '../assets/images/gallery-images/image-18.webp';
import image19 from '../assets/images/gallery-images/image-19.webp';
import image20 from '../assets/images/gallery-images/image-20.webp';
import image21 from '../assets/images/gallery-images/image-21.webp';
import image22 from '../assets/images/gallery-images/image-22.webp';
import image23 from '../assets/images/gallery-images/image-23.webp';
import image24 from '../assets/images/gallery-images/image-24.webp';
import image25 from '../assets/images/gallery-images/image-25.webp';
import image26 from '../assets/images/gallery-images/image-26.webp';
import image27 from '../assets/images/gallery-images/image-27.webp';
import image28 from '../assets/images/gallery-images/image-28.webp';
import image29 from '../assets/images/gallery-images/image-29.webp';
import image30 from '../assets/images/gallery-images/image-30.webp';
import image31 from '../assets/images/gallery-images/image-31.webp';
import image32 from '../assets/images/gallery-images/image-32.webp';
import image33 from '../assets/images/gallery-images/image-33.webp';
import image34 from '../assets/images/gallery-images/image-34.webp';
import image35 from '../assets/images/gallery-images/image-35.webp';
import image36 from '../assets/images/gallery-images/image-36.webp';
import image37 from '../assets/images/gallery-images/image-37.webp';
import image38 from '../assets/images/gallery-images/image-38.webp';
import image39 from '../assets/images/gallery-images/image-39.webp';
import image40 from '../assets/images/gallery-images/image-40.webp';
import image41 from '../assets/images/gallery-images/image-41.webp';
import image42 from '../assets/images/gallery-images/image-42.webp';
import image43 from '../assets/images/gallery-images/image-43.webp';
import image44 from '../assets/images/gallery-images/image-44.webp';
import image45 from '../assets/images/gallery-images/image-45.webp';
import image46 from '../assets/images/gallery-images/image-46.webp';
import image47 from '../assets/images/gallery-images/image-47.webp';
import image48 from '../assets/images/gallery-images/image-48.webp';
import image49 from '../assets/images/gallery-images/image-49.webp';
import image50 from '../assets/images/gallery-images/image-50.webp';
import image51 from '../assets/images/gallery-images/image-51.webp';
import image52 from '../assets/images/gallery-images/image-52.webp';
import image53 from '../assets/images/gallery-images/image-53.webp';
import image54 from '../assets/images/gallery-images/image-54.webp';
import image55 from '../assets/images/gallery-images/image-55.webp';
import image56 from '../assets/images/gallery-images/image-56.webp';
import image57 from '../assets/images/gallery-images/image-57.webp';
import image58 from '../assets/images/gallery-images/image-58.webp';
import image59 from '../assets/images/gallery-images/image-59.webp';
import image60 from '../assets/images/gallery-images/image-60.webp';
import image61 from '../assets/images/gallery-images/image-61.webp';
import image62 from '../assets/images/gallery-images/image-62.webp';
import image63 from '../assets/images/gallery-images/image-63.webp';
import image64 from '../assets/images/gallery-images/image-64.webp';
import image65 from '../assets/images/gallery-images/image-65.webp';
import image66 from '../assets/images/gallery-images/image-66.webp';
import image67 from '../assets/images/gallery-images/image-67.webp';
import image68 from '../assets/images/gallery-images/image-68.webp';
import image69 from '../assets/images/gallery-images/image-69.webp';
import image70 from '../assets/images/gallery-images/image-70.webp';
import image71 from '../assets/images/gallery-images/image-71.webp';
import image72 from '../assets/images/gallery-images/image-72.webp';
import image73 from '../assets/images/gallery-images/image-73.webp';
import image74 from '../assets/images/gallery-images/image-74.webp';
import image75 from '../assets/images/gallery-images/image-75.webp';
import image76 from '../assets/images/gallery-images/image-76.webp';
import image77 from '../assets/images/gallery-images/image-77.webp';
import image78 from '../assets/images/gallery-images/image-78.webp';
import image79 from '../assets/images/gallery-images/image-79.webp';
import image80 from '../assets/images/gallery-images/image-80.webp';
import image81 from '../assets/images/gallery-images/image-81.webp';
import image82 from '../assets/images/gallery-images/image-82.webp';
import image83 from '../assets/images/gallery-images/image-83.webp';
import image84 from '../assets/images/gallery-images/image-84.webp';
import image85 from '../assets/images/gallery-images/image-85.webp';
import image86 from '../assets/images/gallery-images/image-86.webp';
import image87 from '../assets/images/gallery-images/image-87.webp';
import image88 from '../assets/images/gallery-images/image-88.webp';
import image89 from '../assets/images/gallery-images/image-89.webp';
import image90 from '../assets/images/gallery-images/image-90.webp';
import image91 from '../assets/images/gallery-images/image-91.webp';
import image92 from '../assets/images/gallery-images/image-92.webp';
import image93 from '../assets/images/gallery-images/image-93.webp';
import image94 from '../assets/images/gallery-images/image-94.webp';
import image95 from '../assets/images/gallery-images/image-95.webp';
import image96 from '../assets/images/gallery-images/image-96.webp';
import image97 from '../assets/images/gallery-images/image-97.webp';
import image98 from '../assets/images/gallery-images/image-98.webp';
import image99 from '../assets/images/gallery-images/image-99.webp';
import image100 from '../assets/images/gallery-images/image-100.webp';
import image101 from '../assets/images/gallery-images/image-101.webp';
import image102 from '../assets/images/gallery-images/image-102.webp';
import image103 from '../assets/images/gallery-images/image-103.webp';
import image104 from '../assets/images/gallery-images/image-104.webp';
import image105 from '../assets/images/gallery-images/image-105.webp';
import image106 from '../assets/images/gallery-images/image-106.webp';
import image107 from '../assets/images/gallery-images/image-107.webp';
import image108 from '../assets/images/gallery-images/image-108.webp';
import image109 from '../assets/images/gallery-images/image-109.webp';
import image110 from '../assets/images/gallery-images/image-110.webp';
import image111 from '../assets/images/gallery-images/image-111.webp';
import image112 from '../assets/images/gallery-images/image-112.webp';
import image113 from '../assets/images/gallery-images/image-113.webp';
import image114 from '../assets/images/gallery-images/image-114.webp';
import image115 from '../assets/images/gallery-images/image-115.webp';
import image116 from '../assets/images/gallery-images/image-116.webp';
import image117 from '../assets/images/gallery-images/image-117.webp';
import image118 from '../assets/images/gallery-images/image-118.webp';
import image119 from '../assets/images/gallery-images/image-119.webp';
import image120 from '../assets/images/gallery-images/image-120.webp';
import image121 from '../assets/images/gallery-images/image-121.webp';
import image122 from '../assets/images/gallery-images/image-122.webp';
import image123 from '../assets/images/gallery-images/image-123.webp';
import image124 from '../assets/images/gallery-images/image-124.webp';
import image125 from '../assets/images/gallery-images/image-125.webp';
import image126 from '../assets/images/gallery-images/image-126.webp';
import image127 from '../assets/images/gallery-images/image-127.webp';
import image128 from '../assets/images/gallery-images/image-128.webp';
import image129 from '../assets/images/gallery-images/image-129.webp';
import image130 from '../assets/images/gallery-images/image-130.webp';
import image131 from '../assets/images/gallery-images/image-131.webp';
import image132 from '../assets/images/gallery-images/image-132.webp';
import image133 from '../assets/images/gallery-images/image-133.webp';
import image134 from '../assets/images/gallery-images/image-134.webp';
import image135 from '../assets/images/gallery-images/image-135.webp';
import image136 from '../assets/images/gallery-images/image-136.webp';
import image137 from '../assets/images/gallery-images/image-137.webp';
import image138 from '../assets/images/gallery-images/image-138.webp';
import image139 from '../assets/images/gallery-images/image-139.webp';
import image140 from '../assets/images/gallery-images/image-140.webp';
import image141 from '../assets/images/gallery-images/image-141.webp';
import image142 from '../assets/images/gallery-images/image-142.webp';
import image143 from '../assets/images/gallery-images/image-143.webp';
import image144 from '../assets/images/gallery-images/image-144.webp';
import image145 from '../assets/images/gallery-images/image-145.webp';
import image146 from '../assets/images/gallery-images/image-146.webp';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="hero-text-container">
				<h1>Gallery</h1>
				<p>Check out our beautiful custom cakes and pastries that we have made for many wonderful customers. Each cake uniquely designed and crafted for each customer, no cake ends up looking the same.</p>
            </div>
        </div>
        <div class="right-col col"></div>
	</div>

	<section class="gallery">
		<div class="wrapper grid-container">
			<div class="img-container">
				<img loading="lazy" src={image01.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image02.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image03.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image04.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image05.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image06.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image07.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image08.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image09.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image10.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image11.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image12.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image13.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image14.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image15.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image16.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image17.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image18.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image19.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image20.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image21.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image22.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image23.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image24.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image25.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image26.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image27.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image28.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image29.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image30.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image31.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image32.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image33.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image34.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image35.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image36.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image37.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image38.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image39.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image40.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image41.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image42.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image43.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image44.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image45.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image46.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image47.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image48.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image49.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image50.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image51.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image52.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image53.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image54.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image55.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image56.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image57.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image58.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image59.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image60.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image61.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image62.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image63.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image64.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image65.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image66.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image67.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image68.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image69.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image70.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image71.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image72.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image73.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image74.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image75.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image76.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image77.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image78.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image79.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image80.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image81.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image82.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image83.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image84.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image85.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image86.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image87.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image88.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image89.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image90.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image91.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image92.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image93.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image94.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image95.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image96.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image97.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image98.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image99.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image100.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image101.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image102.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image103.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image104.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image105.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image106.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image107.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image108.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image109.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image110.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image111.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image112.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image113.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image114.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image115.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image116.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image117.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image118.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image119.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image120.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image121.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image122.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image123.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image124.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image125.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image126.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image127.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image128.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image129.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image130.src} class="pics" alt="cake or dessert image">
			</div>
		</div>
	</section>
	<div id="lightbox" class="lightbox">
		<button class="lightbox-close-btn"><i class="fa-solid fa-xmark"></i></button>
		<img loading="lazy" class="lightbox-img" id="lightbox-img">
		<button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
	</div>

	<div class="small-wrapper cta-container">
		<p>Ready to order, send us a message or give us a call</p>
		<a href="/#contact" class="pink-cta contact-cta" title="Contact Us" aria-label="Contact us link">Contact Us</a>
	</div>

	<Footer />
</Layout>
<style>
	/* HERO SECTION */
	.hero-section{display: flex;margin-bottom: 6rem;}
	.hero-section .col{width: 50%;}
	.hero-section .left-col{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section .left-col .hero-text-container{
		padding-right: 5rem;
	}
	.hero-text-container h1{
		font-size: 4rem;
		margin-bottom: 3rem;
		line-height: 1.125;
	}
	.hero-text-container p{
		font-size: 1.25rem;
		margin-bottom: 3rem;
	}
	.hero-text-container .hero-cta::after{
		content: 'Get Started';
	}
	.hero-section .right-col{
		height: 650px;
		background-image: url('../assets/images/sweet_table_02.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.img-container{
		cursor: pointer;
		overflow: hidden;
	}
	.img-container img{
		transition: all 0.2s ease-in-out;
	}
	.img-container img:hover {
		transform: scale(1.1);
	}
	.grid-container{
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 300px;
		grid-auto-flow: dense;
	}
	.grid-container .wide{
		grid-column: span 2;
	}
	.grid-container .tall{
		grid-row: span 2;
	}
	.grid-container .big{
		grid-row: span 2;
		grid-column: span 2;
	}
	.lightbox{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.lightbox-img{
		max-width: 90%;
		max-height: 80%;
		border-radius: 8px;
	}
	.lightbox button{
		background: transparent;
		border: 0;
	}
	.lightbox-close-btn{
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 40px;
		color: white;
	}
	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 40px;
		color: white;
		padding: 10px;
		user-select: none;
		transition: color 0.2s ease-in-out;
	}
	.prev{left: 25px;}
	.next{right: 25px;}
	.prev:hover, .next:hover{color: var(--hot-pink);}
	.cta-container{
		margin-top: 4rem;
		margin-bottom: 4rem;
		text-align: center;
	}
	.cta-container p{font-size: 1.25rem;margin-bottom: 2rem;}
	.cta-container a{margin: 0 auto;}
	.contact-cta::after{content: 'Contact Us';}

	@media screen and (min-width: 2100px){
		.prev{left: 20%;}
		.next, .lightbox-close-btn{right: 20%;}
	}
	@media screen and (max-width: 998px){
		.hero-section{flex-direction: column;}
		.hero-section .col{width: 100%;}
		.hero-section .right-col{
			order: 1;
			height: 350px;
			margin-bottom: 1.5rem;
		}
		.hero-section .left-col{order: 2;}
		.hero-section .left-col .hero-text-container{padding-right: 0;}
		.hero-cta{margin: 0 auto;}
	}
	@media screen and (max-width: 920px){
		.prev, .next{
			top: auto;
			bottom: 4%;
		}
		.prev{left: 35%;}
		.next{right: 35%;}
	}
	@media screen and (max-width: 510px){
		.hero-text-container h1{text-align: center;}
	}

</style>
<script>
	let galleryItems = document.querySelectorAll('.img-container img');
	let lightbox = document.getElementById('lightbox');
	let lightboxImg = document.getElementById('lightbox-img');
	let closeButton = document.querySelector('.lightbox-close-btn');
	let prevButton = document.querySelector('.prev');
	let nextButton = document.querySelector('.next');
	
	let currentIndex = 0;
	function openLightbox(index) {
		currentIndex = index;
		lightbox.style.display = 'flex';
		lightboxImg.src = galleryItems[currentIndex].src;
	}
	galleryItems.forEach((item, index) => {
		item.addEventListener('click', () => {
			openLightbox(index);
		});
	});
	function closeLightbox() {
		lightbox.style.display = 'none';
	}
	function showPrevImage() {
		currentIndex = (currentIndex - 1 + galleryItems.length) % galleryItems.length;
		lightboxImg.src = galleryItems[currentIndex].src;
	}
	function showNextImage() {
		currentIndex = (currentIndex + 1) % galleryItems.length;
		lightboxImg.src = galleryItems[currentIndex].src;
	}

	closeButton.addEventListener('click', closeLightbox);
	prevButton.addEventListener('click', showPrevImage);
	nextButton.addEventListener('click', showNextImage);

	lightbox.addEventListener('click', (e) => {
		if (e.target !== lightboxImg && e.target !== prevButton && e.target !== nextButton) {
			closeLightbox();
		}
	});
	document.addEventListener('keydown', (e) => {
		if (lightbox.style.display === 'flex') {
			if (e.key === 'ArrowLeft') showPrevImage();
			if (e.key === 'ArrowRight') showNextImage();
			if (e.key === 'Escape') closeLightbox();
		}
	});

</script>