---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

import image90 from '../assets/images/gallery-images/image-90.jpeg';
import image91 from '../assets/images/gallery-images/image-91.jpeg';
import image92 from '../assets/images/gallery-images/image-92.jpeg';
import image93 from '../assets/images/gallery-images/image-93.jpg';
import image94 from '../assets/images/gallery-images/image-94.jpg';
import image95 from '../assets/images/gallery-images/image-95.jpg';
import image96 from '../assets/images/gallery-images/image-96.jpeg';
import image97 from '../assets/images/gallery-images/image-97.jpeg';
import image98 from '../assets/images/gallery-images/image-98.jpeg';
import image99 from '../assets/images/gallery-images/image-99.jpeg';
import image100 from '../assets/images/gallery-images/image-100.jpeg';
import image101 from '../assets/images/gallery-images/image-101.jpg';
import image102 from '../assets/images/gallery-images/image-102.jpeg';
import image103 from '../assets/images/gallery-images/image-103.jpeg';
import image104 from '../assets/images/gallery-images/image-104.jpeg';
import image105 from '../assets/images/gallery-images/image-105.jpg';
import image106 from '../assets/images/gallery-images/image-106.jpg';
import image107 from '../assets/images/gallery-images/image-107.jpg';
import image108 from '../assets/images/gallery-images/image-108.jpg';
import image109 from '../assets/images/gallery-images/image-109.jpg';
import image110 from '../assets/images/gallery-images/image-110.jpeg';
import image111 from '../assets/images/gallery-images/image-111.jpeg';
import image112 from '../assets/images/gallery-images/image-112.jpeg';
import image113 from '../assets/images/gallery-images/image-113.jpeg';
import image114 from '../assets/images/gallery-images/image-114.jpeg';
import image115 from '../assets/images/gallery-images/image-115.jpeg';
import image116 from '../assets/images/gallery-images/image-116.jpeg';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="hero-text-container">
				<h1>Gallery</h1>
				<p>Check out our beautiful custom cakes and pastries that we have made for many wonderful customers. Each cake uniquely designed and crafted for each customer, no cake ends up looking the same.</p>
            </div>
        </div>
        <div class="right-col col"></div>
	</div>

	<section class="gallery">
		<div class="wrapper grid-container">
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-01.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-02.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-03.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-04.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-05.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-06.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-07.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-08.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-09.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-10.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-11.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-12.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-13.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-14.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-15.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-16.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-17.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-18.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-19.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-20.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-21.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-22.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-23.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-24.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-25.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-26.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-27.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-28.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-29.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-30.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-31.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-32.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-33.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-34.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-35.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-36.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-37.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-38.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-39.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-40.png" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-41.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-42.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-43.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-44.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-45.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-46.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-47.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-48.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-49.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-50.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-51.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-52.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-53.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-54.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-55.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-56.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-57.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-58.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-59.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-60.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-61.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-62.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-63.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-64.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-65.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-66.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-67.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-68.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-69.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-70.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-71.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-72.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-73.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-74.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-75.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-78.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-79.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-80.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-81.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-82.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-83.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-84.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-85.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-86.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-87.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-88.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src="../assets/images/gallery-images/image-89.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image90.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image91.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image92.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image93.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image94.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image95.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image96.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image97.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image98.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image99.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image100.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image101.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image102.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image103.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image104.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image105.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image106.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image107.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image108.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image109.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image110.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image111.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image112.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image113.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image114.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image115.src} class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img loading="lazy" src={image116.src} class="pics" alt="cake or dessert image">
			</div>
		</div>
	</section>
	<div id="lightbox" class="lightbox">
		<button class="lightbox-close-btn"><i class="fa-solid fa-xmark"></i></button>
		<img loading="lazy" class="lightbox-img" id="lightbox-img">
		<button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
	</div>

	<div class="small-wrapper cta-container">
		<p>Ready to order, send us a message or give us a call</p>
		<a href="/#contact" class="pink-cta contact-cta" title="Contact Us" aria-label="Contact us link">Contact Us</a>
	</div>

	<Footer />
</Layout>
<style>
	/* HERO SECTION */
	.hero-section{display: flex;margin-bottom: 6rem;}
	.hero-section .col{width: 50%;}
	.hero-section .left-col{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section .left-col .hero-text-container{
		padding-right: 5rem;
	}
	.hero-text-container h1{
		font-size: 4rem;
		margin-bottom: 3rem;
		line-height: 1.125;
	}
	.hero-text-container p{
		font-size: 1.25rem;
		margin-bottom: 3rem;
	}
	.hero-text-container .hero-cta::after{
		content: 'Get Started';
	}
	.hero-section .right-col{
		height: 650px;
		background-image: url('../assets/images/sweet_table_02.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}


	.img-container{
		cursor: pointer;
		overflow: hidden;
	}
	.img-container img{
		transition: all 0.2s ease-in-out;
	}
	.img-container img:hover {
		transform: scale(1.1);
	}
	.grid-container{
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 300px;
		grid-auto-flow: dense;
	}
	.grid-container .wide{
		grid-column: span 2;
	}
	.grid-container .tall{
		grid-row: span 2;
	}
	.grid-container .big{
		grid-row: span 2;
		grid-column: span 2;
	}
	.lightbox{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.lightbox-img{
		max-width: 90%;
		max-height: 80%;
		border-radius: 8px;
	}
	.lightbox button{
		background: transparent;
		border: 0;
	}
	.lightbox-close-btn{
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 40px;
		color: white;
	}
	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 40px;
		color: white;
		padding: 10px;
		user-select: none;
		transition: color 0.2s ease-in-out;
	}
	.prev{left: 10px;}
	.next{right: 10px;}
	.prev:hover, .next:hover{color: var(--hot-pink);}
	.cta-container{
		margin-top: 4rem;
		margin-bottom: 4rem;
		text-align: center;
	}
	.cta-container p{font-size: 1.25rem;margin-bottom: 2rem;}
	.cta-container a{margin: 0 auto;}
	.contact-cta::after{content: 'Contact Us';}

	@media screen and (min-width: 1600px){
		.prev{left: 35%;}
		.next, .lightbox-close-btn{right: 35%;}
	}
	@media screen and (max-width: 998px){
		.hero-section{flex-direction: column;}
		.hero-section .col{width: 100%;}
		.hero-section .right-col{
			order: 1;
			height: 350px;
			margin-bottom: 1.5rem;
		}
		.hero-section .left-col{order: 2;}
		.hero-section .left-col .hero-text-container{padding-right: 0;}
		.hero-cta{margin: 0 auto;}
	}
	@media screen and (max-width: 920px){
		.prev, .next{
			top: auto;
			bottom: 4%;
		}
		.prev{left: 35%;}
		.next{right: 35%;}
	}
	@media screen and (max-width: 510px){
		.hero-text-container h1{text-align: center;}
	}

</style>
<script>
	let galleryItems = document.querySelectorAll('.img-container img');
	let lightbox = document.getElementById('lightbox');
	let lightboxImg = document.getElementById('lightbox-img');
	let closeButton = document.querySelector('.lightbox-close-btn');
	let prevButton = document.querySelector('.prev');
	let nextButton = document.querySelector('.next');
	
	let currentIndex = 0;
	function openLightbox(index) {
		currentIndex = index;
		lightbox.style.display = 'flex';
		lightboxImg.src = galleryItems[currentIndex].src;
	}
	galleryItems.forEach((item, index) => {
		item.addEventListener('click', () => {
			openLightbox(index);
		});
	});
	function closeLightbox() {
		lightbox.style.display = 'none';
	}
	function showPrevImage() {
		currentIndex = (currentIndex - 1 + galleryItems.length) % galleryItems.length;
		lightboxImg.src = galleryItems[currentIndex].src;
	}
	function showNextImage() {
		currentIndex = (currentIndex + 1) % galleryItems.length;
		lightboxImg.src = galleryItems[currentIndex].src;
	}

	closeButton.addEventListener('click', closeLightbox);
	prevButton.addEventListener('click', showPrevImage);
	nextButton.addEventListener('click', showNextImage);

	lightbox.addEventListener('click', (e) => {
		if (e.target !== lightboxImg && e.target !== prevButton && e.target !== nextButton) {
			closeLightbox();
		}
	});
	document.addEventListener('keydown', (e) => {
		if (lightbox.style.display === 'flex') {
			if (e.key === 'ArrowLeft') showPrevImage();
			if (e.key === 'ArrowRight') showNextImage();
			if (e.key === 'Escape') closeLightbox();
		}
	});

</script>