---
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';
	import BakeryInfo from '../components/BakeryInfo.astro';
	import Layout from '../layouts/Layout.astro';

	import spcltyCard from '../assets/images/spclty-card.jpg';
	import spcltyCard2 from '../assets/images/spclty-card2.jpg';
	import spcltyCard3 from '../assets/images/spclty-card3.jpg';
---

<Layout>
	<Header />

	<section class="hero-section wrapper">
		<div class="left-col col">
            <div class="hero-text-container">
                <h1>Custom Cakes Made<br /> With Love</h1>
                <p>Specializing in custom cakes and pastries, all freshly made by order. Provide us your cake design idea and we'll help you bring your cake to life.</p>
                <a href="" class="pink-cta hero-cta" title="Get Started" aria-label="Get started link">Get Started</a>
            </div>
        </div>
        <div class="right-col col"></div>
	</section>

	<section class="bakery-specialties wrapper">
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard.src} class="pics" alt="Heart shaped cake">
			</div>
			<div class="card-text-container">
				<h3>Less sugar, healthy you</h3>
				<p>Our cakes, pastries and creams contain a low amount of sugar and we always provide fresh fruit.</p>
				<div class="card-cta-container">
					<a href="#flavors" class="pink-cta flavors-cta" title="Cake Flavors" aria-label="Cake Flavors link">Cake Flavors</a>
					<a href="#fillings" class="pink-cta fillings-cta" title="Cake Fillings" aria-label="Cake Fillings link">Cake Fillings</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard3.src} class="pics" alt="Cake pops">
			</div>
			<div class="card-text-container">
				<h3>Need a sweet table?</h3>
				<p>We have a wide variety of pastries that you can also custom design for your event. Stands and platters are available for rent.</p>
				<a href="#desserts" class="pink-cta desserts-cta spclty-card-cta" title="View Desserts" aria-label="View Desserts link">View Desserts</a>
			</div>
		</div>
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard2.src} class="pics" alt="Under the sea cake">
			</div>
			<div class="card-text-container">
				<h3>Customize your cake</h3>
				<p>Get creative with your cake, make it unique, provide a big surprise so you can leave behind a big impression and create memorable moments.</p>
				<a href="#contact" class="pink-cta quote-cta spclty-card-cta" title="Get a Quote" aria-label="Get a Quote link">Get a Quote</a>
			</div>
		</div>
	</section>

	<BakeryInfo />

	<section id="list-section">
		<!-- <div class="homepage-nav" style="display: none;">
			<div class="homepage-nav-container wrapper">
				<ul>
					<li>
						<a tabindex="-1" href="#desserts" class="" title="Desserts link" aria-label="Link to desserts">Desserts</a>
					</li>
					<li>
						<a tabindex="-1" href="#flavors" class="" title="Flavors" aria-label="Link to flavors section">Cake Flavors</a>
					</li>
					<li>
						<a tabindex="-1" href="#fillings" class="" title="Fillings" aria-label="Link to fillings section">Cake Fillings</a>
					</li>
				</ul>
				<a href="" title="Get a Quote" aria-label="Get a Quote link" class="homepage-nav-cta pink-cta">Get a Quote</a>
			</div>
		</div> -->

		<div id="desserts" class="desserts-container list-container small-wrapper">
			<div class="img-col">
				<h2>Desserts</h2>
			</div>
			<div class="list-col">
				<ul>
					<li>Mini Cupcakes</li>
					<li>Cupcakes</li>
					<li>Cake Pops</li>
					<li>Oreo Pops</li>
					<li>Strawberry Tart</li>
					<li>Macarons</li>
					<li>Brownie Bites</li>
					<li>Rice Krispy Treats</li>
					<li>Choux Small</li>
					<li>Pretzel Sticks</li>
					<li>Tiramisu Cups</li>
					<li>Creme Brulee</li>
					<li>Mini Fruitarts</li>
					<li>Cookie Cream Shooters</li>
					<li>Strawberry Shooters</li>
					<li>Banana Cream Pie</li>
					<li>Key Lime Parfait</li>
					<li>Tropical Cups</li>
					<li>Mini Cheesecake</li>
					<li>Oatmeal Raisin Cookies</li>
					<li>Peanut Butter Cookies</li>
					<li>Chocolate Chip Cookies</li>
					<li>Chocolate Dipped Strawberries</li>
				</ul>
				<p>* Additional charge of $0.50 each item for bags and bows</p>
				<p>* Minimum 1 dozen per item</p>
				<p>* Orders have to be placed 4 days in advance</p>
			</div>
		</div>
		<div id="flavors" class="small-wrapper list-container flavors-container">
			<div class="list-col">
				<ul>
					<li>Vanilla</li>
					<li>Chocolate</li>
					<li>Marble</li>
					<li>Strawberry</li>
					<li>Lemon</li>
					<li>Lemon Strawberry (contains real fruits)</li>
					<li>Almond (contains tree nuts)</li>
					<li>Funfetti</li>
					<li>Cookies & Cream</li>
					<li>Yellow Chocolate Chips</li>
					<li>Hazelnut Swirls (contains tree nuts)</li>
					<li>Matcha Swirls</li>
					<li class="bold">Red Velvet *</li>
					<li class="bold">Coconut *</li>
					<li class="bold">Banana * (with banana chunks)</li>
					<li class="bold">Carrot * (with carrot shavings)</li>
					<li class="bold">Pandan *</li>
				</ul>
				<p>* Additional charge for special flavor</p>
			</div>
			<div class="img-col">
				<h2>Flavors</h2>
			</div>
		</div>
		<div id="fillings" class="fillings-container list-container small-wrapper">
			<div class="img-col">
				<h2>Fillings</h2>
			</div>
			<div class="list-col">
				<ul>
					<li>Lemon Mousse</li>
					<li>Whipped Cream ***</li>
					<li>Pineapple Cream (contains real fruit)</li>
					<li>Chocolate Buttercream **</li>
					<li>Tiramisu Cream</li>
					<li>Strawberry Mousse</li>
					<li>Raspberry Mousse</li>
					<li>Mango Mousse</li>
					<li>Cappuccino Mousse</li>
					<li>Chocolate Mousse</li>
					<li>Cookies & Cream</li>
					<li>Coconut Cream</li>
					<li>Cookie Cream Shooters</li>
					<li>Passion Fruit Cream</li>
					<li>Green Tea Cream</li>
					<li>Banana Cream (contains real fruit)</li>
					<li class="bold">Fresh Fruit * (contains real fruit)</li>
					<li class="bold">Cream Cheese *</li>
					<li class="bold">Chocolate Ganache *</li>
					<li class="bold">Durian cream * (contains real fruit)</li>
				</ul>
				<p>* Additional charge for special filling</p>
				<p>* Heavily colored buttercream like Black or Red, will temporarily stain your teeth and change cream flavor</p>
				<p>** Italian buttercream made with real butter and less sugar, not so sweet</p>
				<p>*** Non-dairy, airy cream, very light, and sweet</p>
			</div>
		</div>
	</section>

	<section id="getting-started">
		<div class="wrapper">
			<h2>Getting Started</h2>
			<div class="mini-card-container">
				<div class="mini-card">
					<h3>No Walk-Ins</h3>
					<p>Please call or email us to schedule an appointment/availability for in person inquiries.</p>
				</div>
				<div class="mini-card">
					<h3>Placing your Order</h3>
					<p>Everything is made to order so we ask to place your orders <span class="bold">7 days in advance</span>. We also ask to provide images of the cake design you'd like and the amount of servings/guests to determine the size of the cake and price.</p>
				</div>
				<div class="mini-card">
					<h3>Pricing</h3>
					<p>Pricing is based on the design of the cake and if any specialty fillings selected.</p>
				</div>
				<div class="mini-card">
					<h3>Deposit</h3>
					<p>We require a 50% deposit of the total amount of the order for all orders. Any order that has no deposit will be put on hold, no deposit no cake. Deposits can be placed using Venmo or Zelle.</p>
				</div>
				<div class="mini-card">
					<h3>Last Minute Orders</h3>
					<p>A rush fee will be added and the order will only be accepted if we are able to squeeze it in our schedule and if the cake design is not complex to meet the quick turnaround time.</p>
				</div>
				<div class="mini-card">
					<h3>Cake Tastings</h3>
					<p>Tastings are by appointment only, it's a one hour session with our head decorator and it's $30 for two people.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="wrapper contact-container">
			<div class="col">
				<form action="https://formsubmit.co/banibakery@gmail.com" enctype="multipart/form-data" method="POST" id="contact-form">
				<!-- <form name="contact"
					enctype="multipart/form-data"
					data-netlify="true" 
					method="POST" 
					data-netlify-recaptcha="true"
					netlify-honeypot="bot-field" id="contact-form"> -->
					<input type="hidden" name="_template" value="table">
					<input type="text" name="_honey" style="display:none">
					<!-- <input type="hidden" name="subject" value="New subject from %{formName} (%{submissionId})" /> -->
					<input type="hidden" id="subject" name="_subject" value="Contact form submission!">
					<input type="hidden" name="form-name" value="contact">

					<div class="formSimplify">
						<div>
							<label for="name">Full name:</label>
							<span id="name-errorMsg" class="form-error">Enter full name</span>
							<input type="text" id="name" name="name" placeholder="John Doe" required>
						</div>
						<div>
							<label for="phone">Phone:</label>
							<span id="phone-errorMsg" class="form-error">Enter phone number</span>
							<input id="phone" type="tel" name="phone" placeholder="123-321-0909" required>
						</div>
					</div>

					<div class="formSimplify">
						<div>
							<label for="email">Email:</label>
							<span id="email-errorMsg" class="form-error">Enter email</span>
							<input type="email" name="email" id="email" placeholder="youremail@email.com" required>
						</div>
						<div>
							<label for="emailConfirm">Confirm email:</label>
							<span id="emailConfirm-errorMsg" class="form-error"> Email does not match</span>
							<input type="email" name="emailConfirm" id="emailConfirm">
						</div>
					</div>

					<div class="formSimplify">
						<div>
							<label for="date">Due date:</label>
							<span id="date-errorMsg" class="form-error">Enter due date</span>
							<input id="date" type="date" name="date" required>
						</div>
						<div>
							<label for="time">Pickup Time:</label>
							<span id="time-errorMsg" class="form-error">Enter pickup time</span>
							<input id="time" type="time" name="time">
						</div>
					</div>

					<div class="formSimplify">
						<div>
							<label for="servings">Servings needed:</label>
							<span id="servings-errorMsg" class="form-error">How many servings?</span>
							<input id="servings" type="number" name="servings" required>
						</div>
						<div>
							<input type="file" class="file-upload" name="attachment" accept="image/png, image/jpeg, image/jpg">
						</div>
					</div>

					<div>
						<label for="message">Message:</label>
						<textarea name="message"></textarea>
					</div>

					<!-- <div data-netlify-recaptcha="true"></div> -->

					<div class="submit-btn pink-cta" onclick="validateForm()">SUBMIT</div>
					<input id="validation-complete" type="submit" value="submit" style="display: none;">
				</form>
			</div>
			<div class="col">
				<h2>Contact</h2>
				<p>Have any questions? Please feel free to send us any questions or comments. For a quote request or placing an order, please provide detailed information (cake flavor, filling, servings and picture) as well as the date of the event.</p>
				<p>Complex cake design orders need to be placed <span class="bold">5 days</span> prior from due date. Any simple cake designs can be placed <span class="bold">3 days</span> prior from due date. We do require a 50% deposit for all orders, if no deposit is made your order will be put on hold.</p>
			</div>
		</div>
	</section>

	<section id="about">
		<div class="small-wrapper about-container">
			<div class="col text-container">
				<h2>About</h2>
				<p>My name is Bani Dao, I started cake decorating in 2009, searching on YouTube for tutorials. After 2 years of being a home baker making cakes for family and friends, I decided to take it further by turning it to a profession. In 2011, I graduated from Le Cordon Bleu in Baking and Patisserie. Since then, I've been working in several bakeries as a pastry cook and cake decorator to gain real-life experience and knowledge about my field. From hobby to business, I continue baking cakes, pastries and now catering to the Orange County residents. Cake design has become my passion in life, so I always keep up to date with new and upcoming trends and try out new techniques to continue to improve and refine my skills.
				</p>
			</div>
			<div class="col img-container"></div>
		</div>
	</section>

	<Footer />
</Layout>
<style>
	.hero-section{display: flex;}
	.hero-section .col{width: 50%;}
	.hero-section .left-col{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section .left-col .hero-text-container{
		padding-right: 5rem;
	}
	.hero-text-container h1{
		font-size: 4rem;
		margin-bottom: 3rem;
		line-height: 1.125;
	}
	.hero-text-container p{
		font-size: 1.25rem;
		margin-bottom: 3rem;
	}
	.hero-text-container .hero-cta::after{
		content: 'Get Started';
	}
	.hero-section .right-col{
		height: 650px;
		background-image: url('../assets/images/hero-image.jpeg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	/* SPECLTY CARD SECTION STYLES */
	.bakery-specialties{
		margin-top: 6rem;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		/* gap: 2rem 5.625rem; */
		gap: 2rem 1.25rem;
	}
	.bakery-specialties .card{
		min-width: 400px;
		width: 29%;
	}
	.bakery-specialties .card .img-container{
		height: 400px;
		margin-bottom: 1.5rem;
	}
	.bakery-specialties .card .card-text-container{
		min-height: 205px;
		max-height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bakery-specialties .card .card-cta-container{
		margin-top: 1.25rem;
		display: flex;
		justify-content: space-between;
	}
	.bakery-specialties .card h3{
		text-align: center;
		margin-bottom: 1rem;
	}
	.bakery-specialties .card .flavors-cta::after{
		content: 'Cake Flavors';
	}
	.bakery-specialties .card .fillings-cta::after{
		content: 'Cake Fillings';
	}
	.bakery-specialties .card .desserts-cta::after{
		content: 'View Desserts';
	}
	.bakery-specialties .card .quote-cta::after{
		content: 'Get a Quote';
	}
	.bakery-specialties .card .spclty-card-cta{
		margin: 1.25rem auto 0 auto;
	}

	/* HOMEPAGE NAV STYLES */
	.homepage-nav{
		position: sticky;
		background-color: var(--cream);
		border-top: 1px solid var(--hot-pink);
		border-bottom: 1px solid var(--hot-pink);
		margin: 4rem 0;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.homepage-nav-container{
		width: 100%;
		padding: 1.25rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.homepage-nav-container ul li{
		display: inline-block;
		margin-right: 1.75rem;
	}
	.homepage-nav-container ul li:last-child{margin-right: 0;}
	.homepage-nav-container ul li a{
		color: #000;
		font-weight: 700;
		position: relative;
	}
	.homepage-nav-container ul li a:after{
        content: '';
        position: absolute;
        bottom: -3px;
        height: 2px;
        left: 0;
        background-color: var(--hot-pink);
        width: 0;
        height: 0;
        transition: all 0.2s ease-in-out;
    }
	.homepage-nav-container ul li a:hover:after{
        width: 100%;
        height: 2px;
    }
	.homepage-nav-container .homepage-nav-cta::after{
		content: 'Get a Quote';
	}

	/* LIST SECTIONS STYLES */
	#list-section{
		position: relative;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	.list-container{
		display: flex;
		padding: 2rem 0;
	}
	.list-container .img-col{
		width: 35%;
		height: 475px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.list-container .img-col h2{
		background-color: var(--hot-pink);
		padding: 3rem 1.75rem;
	}
	.list-container .list-col{padding-left: 2.5rem;}
	.list-container .list-col ul{
		column-count: 2;
		margin-bottom: 2rem;
	}
	.list-container .list-col ul li{
		margin-bottom: 7px;
	}
	.list-container .list-col{width: 65%;}
	.desserts-container .img-col{
		background-image: url('../assets/images/dessert-bkgd.jpg');
	}
	.flavors-container .img-col{
		background-image: url('../assets/images/flavor-bkgd.jpg');
	}
	.fillings-container .img-col{
		background-image: url('../assets/images/filling-bkgd.jpg');
	}

	/* GETTING STARTED SECTION */
	#getting-started{
		background-color: var(--brown);
		padding: 3rem 0;
		margin-bottom: 6rem;
	}
	#getting-started h2{
		margin-bottom: 1.5rem;
		color: var(--cream);
	}
	.mini-card-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem 4rem;
	}
	.mini-card-container .mini-card{
		width: 29%;
		padding: 1rem;
		background-color: var(--cream);
	}
	.mini-card-container .mini-card h3{
		margin-bottom: 1rem;
		text-align: center;
	}

	/* CONTACT SECTION */
	#contact{margin: 6rem auto;}
	.contact-container{
		display: flex;
		justify-content: space-between;
	}
	.contact-container .col h2{margin-bottom: 1.5rem;}
	.contact-container .col{width: 48%;}
	.contact-container .col p{line-height: 1.6;}
	.contact-container .col p:first-of-type{margin-bottom: 1rem;}
	form{
		display: flex;
		flex-direction: column;
		gap: 1.25rem 0;
	}
	form label{font-weight: 500;}
	form label, form input, form textarea{
		width: 100%;
		display: block;
		color: #000;
	}
	form input, form textarea{
		font-size: 1.1rem;
		border: 0;
		background-color: var(--soft-pink);
	}
	form input:active, form textarea:active,
	form input:focus, form textarea:focus{
		background-color: #fff;
	}
	form input{
		padding: 0 5px;
		height: 2.75rem;
	}
	form textarea{
		height: 10rem;
		padding: 5px;
	}
	form input[type="file"]{
		background-color: transparent;
		padding-top: 16px;
	}
	.formSimplify{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.formSimplify div{width: 48%;}
	.form-error{display: none;}
	.submit-btn::after{content: 'SUBMIT';}
	

	/* ABOUT SECTION */
	#about{margin-bottom: 6rem;}
	.about-container{
		display: flex;
		justify-content: space-between;
	}
	.about-container .text-container{
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about-container .text-container h2{margin-bottom: 1.5rem;}
	.about-container .text-container p{line-height: 1.7;}
	.about-container .img-container{
		height: 550px;
		width: 33%;
		background-image: url('../assets/images/bani_portrait.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
	}
</style>